@import url('./assets/css/nav.css');
@import url('./assets/css/map.css');
@import url('./assets/css/header.css');
@import url('./assets/css/weather.css');
@import url('./assets/css/visualization.css');
@import "leaflet/dist/leaflet.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('./assets/css/details-plant.css');
@import url('./assets/css/leaflet.css');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

body {
    font-family: "Baloo Bhaijaan 2", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
 
}

.bg-green {
    background-color: #6ab04c!important;
}

.container-green {
    background-color: #5db10521;
    border-radius: 17px;
    margin: 24px auto;
}

.bg-plant {
    /* background-image: url('./assets/images/background.png'); */
    background-repeat: no-repeat;
    background-size: initial;
    background-position: bottom;
}

.transparent {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.plant-details-container {
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    padding: 20px;
}

.plant-details-container h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.plant-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.plant-info {
    width: 100%;
    text-align: left;
}

.plant-info p {
    color: #34495e;
    font-size: 16px;
    margin: 5px 0;
}

.plant-info p strong {
    color: #2c3e50;
}



.neon-bar {
    fill: transparent;
    stroke: rgb(0, 255, 26); /* Neon color */
    stroke-width: 2px;
    stroke-opacity: 0.8;
    filter: drop-shadow(0 0 10px rgb(186, 250, 200)) drop-shadow(0 0 20px rgb(184, 255, 182));
  }
  
  .neon-bar:hover {
    stroke-opacity: 1;
    filter: drop-shadow(0 0 5px rgb(0, 255, 17)) drop-shadow(0 0 10px rgb(106, 255, 0));

  }
  

 .y-axis {
    font-size: 10px;
  }

