/* Ajoutez votre style CSS ici */
.background {
    background-color: #0F2027;
    background-image: linear-gradient(to top, #0F2027 0%, #203A43 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Ajoutez le reste de votre style ici */
